# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Toggle Atom VLC'
      'command': 'atom-vlc:toggle'
    },
    {
      'label': 'Play/Pause at Atom VLC'
      'command': 'atom-vlc:toggleplay'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Atom VLC'
      'submenu': [
        {
          'label': 'Toggle'
          'command': 'atom-vlc:toggle'
        }
      ]
    ]
  }
]
